.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #000;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.text {
  color: #fff;
  font-size: 1.25rem;
}
